n8n-fluxos/ChatBot.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1328,
        432
      ],
      "id": "168fd7a5-f055-470c-938c-155e4fb9a1a7",
      "name": "Webhook",
      "webhookId": "84360156-8594-4957-8c87-6afd2c5dd916"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "text": "=Olá! Sou o assistente de Banking. Como posso ajudar?",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        240,
        448
      ],
      "id": "9424575c-6ede-49fa-8dff-c465a3dfe7da",
      "name": "Opção 2",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "text": "=Olá! Sou o assistente de Literature. Como posso ajudar?",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        240,
        256
      ],
      "id": "5f8ca39a-77e1-4d58-ada3-ca6ed727d2f9",
      "name": "Opção 1",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "text": "=Encerrando o atendimento. Se precisar de algo mais, é só me chamar. Tenha um ótimo dia!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        240,
        640
      ],
      "id": "6efe8458-38b3-4e8b-8d9a-1d1683f7c131",
      "name": "Opção 3",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfcb2d37-69a9-4514-8218-9530211beefe",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "9b6aacdf-c82f-4d4d-a6f3-4192cac0b752",
              "name": "playload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "8e2c526e-4947-4f78-b63b-9f76702cbcca",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "b9c7ed53-0020-4a09-b1f1-4370aa0dea72",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "be98d47f-88b8-4b4b-bb2b-64666da26beb",
              "name": "chatid",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "e7880d92-f9e6-41d5-9373-64efcffb28a8",
              "name": "messege",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "e9180237-78df-4ab9-ad2d-ca20aa176154",
              "name": "formMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        432
      ],
      "id": "2e3084be-c037-4459-9fef-dfcc21d43ac2",
      "name": "Filtrando Campos"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.chatid }}",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -880,
        432
      ],
      "id": "810f307b-dfe1-477c-8518-abd4d11a213b",
      "name": "Buscando conversar",
      "credentials": {
        "redis": {
          "id": "trp8AiUEpGIDD7Zk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0dfa768e-28e2-4591-8a91-a2fc2a3a771c",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        432
      ],
      "id": "a3248dc6-0f3f-4661-8285-d7057ce34ad8",
      "name": "Conversar Existe?"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "text": "=Olá! Que bom te ver por aqui! 😊\nPara que eu possa te ajudar melhor, **selecione um dos tópicos** digitando o número:\n\n1. Literatura: Para dúvidas e informações sobre livros e autores \n2. Banco: Para assistência com serviços bancários e financeiros \n3. Sair: Para encerrar nosso papo por enquanto.",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        240,
        48
      ],
      "id": "b39b95c8-d6a8-4a54-ada0-e58b134b1b36",
      "name": "Mune do Chat",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Filtrando Campos').item.json.chatid }}",
        "value": "={{ JSON.stringify({\n  chatid: $('Filtrando Campos').item.json.chatid,\n  session: $('Filtrando Campos').item.json.session,\n  startedAt: new Date().toISOString(),\n  state: 'aguardando_input_menu',\n  lastInteractionAt: new Date().toISOString()\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        464,
        48
      ],
      "id": "44ff55c4-470e-4f1b-b823-e868055f7164",
      "name": "Salva Status 'aguardando_input_menu'",
      "credentials": {
        "redis": {
          "id": "trp8AiUEpGIDD7Zk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Filtrando Campos').item.json.chatid }}",
        "value": "={{ JSON.stringify({\n  chatid: $('Filtrando Campos').item.json.chatid,\n  session: $('Filtrando Campos').item.json.session,\n  startedAt: new Date().toISOString(),\n  state: 'aguardando_ia_literatura',\n  lastInteractionAt: new Date().toISOString()\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        464,
        256
      ],
      "id": "d970ff11-19c2-4509-bf14-38adf983eef6",
      "name": "Salva Status 'aguardando_ia_literatura'",
      "credentials": {
        "redis": {
          "id": "trp8AiUEpGIDD7Zk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Filtrando Campos').item.json.chatid }}",
        "value": "={{ JSON.stringify({\n  chatid: $('Filtrando Campos').item.json.chatid,\n  session: $('Filtrando Campos').item.json.session,\n  startedAt: new Date().toISOString(),\n  state: 'aguardando_ia_banco',\n  lastInteractionAt: new Date().toISOString()\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        464,
        448
      ],
      "id": "016e5582-7d81-4e7e-b8b2-a63a6d5a8662",
      "name": "Salva Status 'aguardando_ia_banco'",
      "credentials": {
        "redis": {
          "id": "trp8AiUEpGIDD7Zk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Filtrando Campos').item.json.chatid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        464,
        640
      ],
      "id": "71238663-b560-4643-886e-1bea200e782b",
      "name": "Limpa Status",
      "credentials": {
        "redis": {
          "id": "trp8AiUEpGIDD7Zk",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e4b74ab-8362-4843-83df-6e9e97ac1955",
                    "leftValue": "={{ $('Filtrando Campos').item.json.messege }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "325bed29-4210-45c4-911b-f68c5a7dfcd2",
                    "leftValue": "={{ $('Filtrando Campos').item.json.messege }}",
                    "rightValue": "=2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53be4a92-e7d6-43fa-9502-322cedbee66a",
                    "leftValue": "={{ $('Filtrando Campos').item.json.messege }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f676cf3c-c411-429e-b251-9bc629de39f5",
                    "leftValue": "={{ $('Filtrando Campos').item.json.messege }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        320
      ],
      "id": "521064a7-9e6e-4d15-bf5c-284f62e5f8ec",
      "name": "Opção Selecionada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93b1b702-03b8-4703-8aa4-7623393fa8af",
              "leftValue": "={{ JSON.parse($('Buscando conversar').item.json.propertyName).state }}",
              "rightValue": "aguardando_input_menu",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "220dd20c-3da3-4e9f-acb3-aed73b7f711b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        544
      ],
      "id": "880dff37-879e-4ef3-ba67-4467f87203a0",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "621c9e20-778a-44fa-b921-cddc519155da",
                    "leftValue": "={{ $('Filtrando Campos').item.json.messege.toLowerCase() }}",
                    "rightValue": "sair",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53be4a92-e7d6-43fa-9502-322cedbee66a",
                    "leftValue": "={{ JSON.parse($('Buscando conversar').item.json.propertyName).state }}",
                    "rightValue": "aguardando_ia_literatura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f676cf3c-c411-429e-b251-9bc629de39f5",
                    "leftValue": "={{ JSON.parse($('Buscando conversar').item.json.propertyName).state }}",
                    "rightValue": "aguardando_ia_banco",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        816
      ],
      "id": "13af5f59-bd70-4c32-a839-c48bb98f2304",
      "name": "Opção Selecionada1"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "messageId": "={{ $('Filtrando Campos').item.json.playload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -208,
        352
      ],
      "id": "3a4781be-2bb4-4128-9027-fb544e7e4617",
      "name": "Visualizado 3",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "messageId": "={{ $('Filtrando Campos').item.json.playload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        16,
        0
      ],
      "id": "22274e93-7ee4-4277-9873-a5777cc0373b",
      "name": "Visualizado ",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "messageId": "={{ $('Filtrando Campos').item.json.playload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -208,
        832
      ],
      "id": "89c1dcee-ee96-44a7-876b-dae93dd1698e",
      "name": "Visualizado 4",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-app:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('Filtrando Campos').item.json.chatid }}\",\n  \"message\": \"{{ $('Filtrando Campos').item.json.messege }}\",\n  \"theme\": \"banking\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        1024
      ],
      "id": "d02357e6-ea6f-44e2-9928-4c2721528496",
      "name": "Chamar AI de Banco"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "text": "={{ $json.response }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        464,
        1024
      ],
      "id": "08ac4d1c-5b45-455e-824b-01d93f2b93a4",
      "name": "Responder com IA Banco",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filtrando Campos').item.json.session }}",
        "chatId": "={{ $('Filtrando Campos').item.json.chatid }}",
        "text": "={{ $json.response }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        464,
        832
      ],
      "id": "23a9ceda-2f13-4420-b1d0-c45ef380cd0d",
      "name": "Responder com IA Leitura",
      "credentials": {
        "wahaApi": {
          "id": "5LqEFFy4OI1h70FO",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-app:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('Filtrando Campos').item.json.chatid }}\",\n  \"message\": \"{{ $('Filtrando Campos').item.json.messege }}\",\n  \"theme\": \"literature\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        832
      ],
      "id": "30a6e5f4-ea6f-42ef-b47b-044d20619822",
      "name": "Chamar AI de Literatura"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtrando Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opção 2": {
      "main": [
        [
          {
            "node": "Salva Status 'aguardando_ia_banco'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opção 1": {
      "main": [
        [
          {
            "node": "Salva Status 'aguardando_ia_literatura'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opção 3": {
      "main": [
        [
          {
            "node": "Limpa Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrando Campos": {
      "main": [
        [
          {
            "node": "Buscando conversar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscando conversar": {
      "main": [
        [
          {
            "node": "Conversar Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversar Existe?": {
      "main": [
        [
          {
            "node": "Visualizado ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mune do Chat": {
      "main": [
        [
          {
            "node": "Salva Status 'aguardando_input_menu'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opção Selecionada": {
      "main": [
        [
          {
            "node": "Opção 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opção 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opção 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mune do Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Visualizado 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Visualizado 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visualizado 3": {
      "main": [
        [
          {
            "node": "Opção Selecionada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visualizado ": {
      "main": [
        [
          {
            "node": "Mune do Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visualizado 4": {
      "main": [
        [
          {
            "node": "Opção Selecionada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opção Selecionada1": {
      "main": [
        [
          {
            "node": "Opção 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chamar AI de Literatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chamar AI de Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar AI de Banco": {
      "main": [
        [
          {
            "node": "Responder com IA Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar AI de Literatura": {
      "main": [
        [
          {
            "node": "Responder com IA Leitura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "287738d2-4570-4673-89f6-3426880a94f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41eb8158f2fce6c93cf8269da783a794e08578b10cbd4f4afaa5b19a4ee88893"
  },
  "id": "ZTbajBmLuA7uMwzp",
  "tags": []
}